<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-10 col-md-5">
      <div class="form-group">
        <div id="datepicker">
          <label for="datepicker">日付</label>
          <input type="text" class="form-control date" [(ngModel)]="searchPayDate">
        </div>
        <!-- <label for="datepicker" class="col-sm-2 col-form-label">bootstrap-datepicker</label>
        <div id="datepicker" class="col-sm-4">
          <input type="text" class="form-control date" [(ngModel)]="searchPayDate" #datePicker (blur)="searchPayDate = datePicker.value">
        </div>
        <div class="col-sm-6 align">
          <span> バインドされているモデルの値：{{searchPayDate}} </span>
        </div> -->
        <!-- <label for="searchPayDate">日付</label>
        <input type="text" class="form-control" id="searchPayDate" value=""> -->
      </div>
      <div class="form-group">
        <label for="searchSubjectName">品目</label>
        <select #selectElem class="form-control" (change)="setCurrentItem(selectElem.value)">
          <option *ngFor="let item of payitems" [value]="item.itemId">
            {{item.name}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-10 col-md-3">
      <button id="search" class="btn btn-primary" style="width:10em">検索</button>
    </div>
    <div class="col-sm-10 col-md-3">
      <button id="payment" routerLink="/paymentdetail" class="btn btn-primary" style="width:10em">支払い</button>
    </div>

  </div>
</form>