<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-10 col-md-5">
      <div class="form-group">
        <div id="datepicker">
          <label for="datepicker">日付</label>
          <input type="text" class="form-control date" [(ngModel)]="searchPayDate" name="searchPayDate">
        </div>
      </div>
      <div class="form-group">
        <label for="searchSubjectName">品目</label>
        <select #selectElem class="form-control" (change)="setCurrentItem(selectElem.value)">
          <option [value]=""></option>
          <option *ngFor="let item of payitems" [value]="item.itemId">
            {{item.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- ボタン部分 -->
    <div class="col-sm-10 col-md-3">
      <button id="search" class="btn btn-primary" style="width:10em" (click)="search()">検索</button>
    </div>
    <div class="col-sm-10 col-md-3">
      <button id="payment" routerLink="/paymentdetail" class="btn btn-primary" style="width:10em">支払い</button>
    </div>
  </div>
  <!-- 一覧リスト部分 -->

  <table class="table table-hover table-striped table-responsive">
    <thead>
      <tr>
        <th class="text-center" width='10%'>日付</th>
        <th class="text-center" width='40%'>名称</th>
        <th class="text-center" width='10%'>数量</th>
        <th class="text-center" width='20%'>単価</th>
        <th class="text-center" width='20%'>金額</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{payment.payDate}}</td>
        <td>{{payment.name}}</td>
        <td class="text-right">{{payment.quantity}}</td>
        <td class="text-right">{{payment.unitPrice}}</td>
        <td class="text-right">{{payment.amount}}</td>
      </tr>
    </tbody>
  </table>
</form>
