<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-10 col-md-5">
      <div class="form-group">
        <label for="payDate">日付</label>
        <input class="form-control" id="payDate" type="text"  value="">
      </div>
      <div class="form-group">
        <label for="searchSubjectName">品目</label>
        <input type="text" class="form-control" id="searchSubjectName" value="">
      </div>
      <div class="form-group">
        <label for="searchPayDate">数量</label>
        <input type="text" class="form-control" id="searchun" value="">
      </div>
      <div class="form-group">
        <label for="searchUnitPrice">単価</label>
        <input type="text" class="form-control" id="searchUnitPrice" value="">
      </div>
    </div>

    <div class="col-sm-10 col-md-3">
      <button id="search" class="btn btn-primary" style="width:10em">検索</button>
    </div>
    <div class="col-sm-10 col-md-3">
      <button id="payment" class="btn btn-primary" style="width:10em">支払い</button>
    </div>

  </div>
</form>
