<div id="header">
  <div class="row">
    <div class="col-12" style="text-align: center">
      <h2>支払画面</h2>
    </div>
  </div>
</div>
<form id="paymetdetailform" class="form-horizontal" [formGroup]="paymentdetailForm" (ngSubmit)="open()">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <div id="datepicker">
          <label for="paydate">日付</label>
          <input class="form-control date" id="paydate" name="paydate" type="text" [formControl]="paydate" #datePicker  (focus)="setPaydate(datePicker.value)" >
          <span *ngIf="paydate.errors?.required">日付は必須です。</span>
          <span *ngIf="paydate.errors?.pattern">YYYY/MM/DDの形式で入力してください。</span>
        </div>
      </div>
      <div class="form-group">
        <label for="subjectName">品目</label>
        <select #selectElem class="form-control" id="subjectName" name="subjectName" (change)="setCurrentItem(selectElem.value)">
          <option *ngFor="let item of payitems" [value]="item.itemId">
            {{item.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="unitPrice">単価</label>
        <input class="form-control" id="unitPrice" name="unitPrice" type="text" maxlength="6" [formControl]="unitPrice"  (change)="calAmount()" >
        <span *ngIf="unitPrice.errors?.required && unitPrice.dirty">単価は必須です。</span>
        <span *ngIf="unitPrice.errors?.maxlength">6桁以内で入力してください。</span>
        <span *ngIf="unitPrice.errors?.pattern">形式が不正です。半角数字で金額を入力してください。</span>
      </div>
      <div class="form-group">
        <label for="quantity">数量</label>
        <input class="form-control" id="quantity" name="quantity" type="text" maxlength="3" [formControl]="quantity" (change)="calAmount()" >
        <span *ngIf="quantity.errors?.required">数量は必須です。</span>
        <span *ngIf="quantity.errors?.maxlength">3桁以内で入力してください。</span>
        <span *ngIf="quantity.errors?.pattern">形式が不正です。半角数字で1個以上の数量を入力してください。</span>
      </div>
      <div class="form-group">
        <label for="amount">金額</label>
        <input class="form-control" id="amount" name="amount" type="text" readonly="readonly" [formControl]="amount" >
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 80px">
    <div class="col-12" style="text-align: center">
      <button id="payment" class="btn btn-primary" style="width:10em" type="submit" [disabled]="paymentdetailForm.invalid" >支払い</button>
      <button id="hide" class="btn btn-primary" style="width:10em" style="visibility:hidden;">非表示</button>
      <button id="back" routerLink="/paymentlist" class="btn btn-primary" style="width:10em">戻る</button>
    </div>
  </div>
</form>
